<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="js/add.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Node.js</a>
    </nav>

    <center>
      <h1><%= title %></h1>
    </center>
    <a class="btn btn-success" href="/new">Novo</a>
    <p></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% docs.forEach(function(customer){ %>
        <tr>
          <td scope="row"><%= customer.nome %></td>
          <td scope="row"><%= customer.idade %></td>
          <td scope="row">
            <a class="btn btn-primary" href="/edit/<%= customer._id %>">Editar</a>
            <a class="btn btn-danger" href="/delete/<%= customer._id %>" 
            onclick="return confirm('Tem certeza que deseja excluir?');">
            Apagar
          </a>
        </td>
        </tr>
        <%})%>
      </tbody>
    </table>

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Novo Cliente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="form-adiciona">
        <div class="form-group">
          <label for="name">Nome:</label>
          <div class="col-sm-10"> 
            <input class="form-control" type="text" name="nome" value="" /> 
          </div>
        </div>

        <div class="form-group">
          <label>Idade:</label>
          <div class="col-sm-6"> 
            <input class="form-control" type="number" name="idade" value="" />
          </div>
        </div>
      </form>

      <div class="modal-footer d-flex justify-content-center">
        <input class="btn btn-primary" onclick="btnAdicionar()" type="submit" value="Salvar" id="adicionar"/>
      </div>
    </div>
    </div>
  </div>

  <script>
    function btnAdicionar(){ 
      var adicionar = document.querySelector("#adicionar"); 
      
      var form = document.querySelector("#form-adiciona");
      var pessoa = 

      alert(adicionar.value);
    }
  </script>

  <div class="text-center">
    <a href="" class="btn btn-success" data-toggle="modal" data-target="#modalLoginForm">Novo (MODAL)</a>
  </div>
  </body>
</html>